<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_help.css') }}">
</head>
<body style="background-image: url('{{ url_for('static', filename='about_background_figma.png') }}');">

    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact Us</a>
        <a href="/help">Help</a>

    </div>
    <div class="image_outer">

    <img src="{{ url_for('static', filename='step1.png') }}" alt="Description of the image">
    <img src="{{ url_for('static', filename='step2.png') }}" alt="Description of the image">
    <img src="{{ url_for('static', filename='step3.png') }}" alt="Description of the image">
    <img src="{{ url_for('static', filename='step4.png') }}" alt="Description of the image">

    </div>

</body>
</html>