body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    background-image: url('{{ url_for('static', filename='about_background_figma.png') }}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ensure the body takes the full height of the viewport */
    display: flex;
    align-items: center;
}

.navbar {
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    text-align: center;
    background-color: #EFEFEF;
    font-family: 'Roboto', sans-serif; /* Set font to Roboto */
    font-weight: bold; /* Make the text bold */
    font-size: 20px;
    color: black; /* Set text color to black */
    margin-bottom: 500px;
}

.navbar a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 14px 16px;
}

.navbar a:hover {
    /*background-color: #FF85AC;*/
    color: #FF85AC;
}

img {
    position: absolute;
    top: 150px;
    width: 100%;
    height: auto; /* Ensures that the image maintains its aspect ratio */
    display: block; /* Removes any extra space below the image */
    margin: auto; /* Centers the image horizontally */
    

}

.image_holder{
    display:flex;
}

